/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 *
 * For simplicity, no reset or normalize is added.
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    margin: 0;
    font-family: 'helvetica';
    font-weight: 600;
    color: #000;
}


/* Typeography General*/
h1 {
    font-family: 'helvetica';
    font-weight: normal;
    line-height: 0.9em;
    font-size: 4em;
    text-align: center;
}


@media only screen and (min-width: 50em){
h1 {
    font-size: 9em;
    line-height: 0.9em;
    text-align: center;
    margin: 1em 1em 1em;

    }
}

h2 {
    font-family: 'times';
    font-weight: normal;
    font-size: 4em;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

p {
    line-height: 1.4em;
    color: #000;
}

li {
    text-decoration: display none;

}

a {
    text-decoration: none;
    color: #b1b1b1;
}

a:hover{
    text-decoration: underline;
    color: #000;
}


/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}



section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/


.navbar__menu ul {
    text-align: center;
      margin: 8px;
}

.navbar__menu li {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    margin: 0px;
}

.navbar__menu li :checked {
    text-decoration: underline;
}


.active,.navbar__menu .menu__link:hover {
    color: #a8a8a8;
    transition: ease 0.5s all;
    cursor: pointer;
}



.active, .active__section{

  background-color: yellow;
  transition: ease 0.5s all;
  border-radius: 10px;
}

.active, .your-active-class{
  background-color: yellow;
  transition: ease 0.5s all;
  border-radius: 10px;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #fff;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #000;
    text-align: center;

}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}


section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: left;
}
